/* Need this for google maps controls to show up correctly */
#map-view img{max-width: inherit;}

.align-right {
  text-align: right;
}

html { 
  height: 100%; 
  width: 100%;
}
body { height: 100%; margin: 0px; padding: 0px; font-family: 'Lato', sans-serif; width: 100%; 
}

body.total {
  overflow-x: hidden;

}
article { height: 100%;
 }

article.edit {
position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
            
}

div.middle, div.inner {height: 100%}


#map-view { 
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media all and (max-width: 480px){
  #map-view { 
    top: 50px;
  }
}

header {
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.2);
  z-index: 1;
}

@media all and (max-width: 480px){
  header {
    height: 50px;
    overflow: hidden;
  }

  .wrapper.selector-list-active {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 75%;
      
  }
}

/* header.selector-list .logo,
header.selector-list .list {
  display: none;
} */

.wrapper.selector-list-active img.sel {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari and Chrome */
  -o-transform:rotate(180deg); /* Opera */
  background: #fff;
  z-index: 15;
  opacity:1;
  border:1px solid #ccc;
  border-radius:3px
}



div.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -75px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 50px;
  /*background: url('/img/logo.png');*/
  ;
  background-size: 60%;
}
@media all and (max-width: 480px){
  div.logo {
    width: 120px;
    height: 40px;
    background-size: 100%;
    margin: -10px 0 0 -66px;
  }
}

div.mark {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  background: url('/img/mark.png');
}

div.selector-list {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80%;
  background: #555;
  color: #fafafa;
  min-width: 40%;
  width: auto;
  padding: 10px;
  overflow-y: auto;
}

div.wrapper.selector-list-active div.selector-list {
  //left: 0;
}

div.selector-list ul li a {
    color: #fafafa;
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .7);
    text-transform: uppercase;
}

div.selector-list ul li a:hover {
    background:#333;
       
}

li.filter {min-height:20px}


div.selector-list ul li img {
    max-width:25px;
    padding: 10px 20px 10px 0;
}

img.sel { 
  position: absolute;
  left: 5px;
  top: 50%;
  margin: -18px 0 0 0;
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -moz-transform:rotate(0deg); /* Firefox */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -o-transform:rotate(0deg); /* Opera */
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;

  padding: 10px;
  width: 16px;

}

@media all and (max-width: 480px){
    img.sel {
        display: inline-block;
    }
  .wrapper.selector-list-active img.sel {
    //left: 75%;
  }
}

img.list {
  position: absolute;
  right: 14px;
  top: 50%;
  margin: -5px 0 0 0;
  width: 25px;
}

img.map {
  position: absolute;
  right: 14px;
  top: 50%;
  margin: -5px 0 0 0;
  width: 25px;
  display: none;
}

div.neigh-list {
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 0px;
  background: #efefef;
  color: white;
  width: 0px;
  padding: 0;
  bottom: 0;
  z-index: 0;
  overflow: auto;
  margin: 0;
}

div.neigh-list.active {
  width: 100%;
}

@media all and (max-width: 480px){
  div.neigh-list.active {
    width: 100%;
    padding: 0;
    top:50px;
    text-transform:uppercase;
    font-size:20px;


  }
  div.selector-list {
    width: 75%;
  }
  header.neigh-list .logo{
    /*background-size: 80%;*/
  }
}
header.neigh-list .logo{
}
header.neigh-list .sel {
  opacity: .5;
}

header.neigh-list .map {
    display: block;
}

.accordion-heading {
    padding:10px;
    border-bottom:1px solid #a
    
}
.accordion-heading a {
     color:#333;
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: .1em;
     font-size: 20px;
}
a:hover {text-decoration:none;}

li.park {
  list-style:none;
  padding: 0 0 2px;
  font-size:20px
}
li.park a {
     color:#666;
     text-transform:initial;
}


header.neigh-list .list {
  display: none;
  /*right: 50%;*/
}

ul.parks > li.park {
  margin: 17px 0px;
}

div.park-view {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.park-view header {
  height: 40%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

div.park-view header img {
  min-width: 100%;
  min-height: 100%;
}

div.park-view header span.name {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  text-align: right;
  padding: 20px 10px 10px;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;  
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
}

div.park-view div.body {
    padding: 20px;
  overflow: auto;
  top: 40%;
  bottom:0;
  position:absolute;
  right: 0;
  left: 0;
}

div.park-view button.close {
    font-size: 45px;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #fff;
    opacity: 1;
    height: 40px;
    padding: 5px 8px 20px 8px;

    z-index: 1000;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

div.park-view div.body .address {
  color: black;
  font-size: 20px;

  width: 80%;
  display: block;
}

div.park-view div.body .city {
  font-size: 18px;
}

div.selector-list .selected {
  border: 1px solid white;
}

/* For the desktop */
@media all and (min-width: 980px) {
    #map-view { 
        position: absolute;
        top: 60px;
        left: 220px;
        right: 430px;
        bottom: 0;
    }

    div.selector-list {
        top: 60px;
        left: 0px;
        width: 200px;
        min-width: auto;
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,.2);
    }

    div.neigh-list {
        right: 0;
        width: 410px;
        padding: 10px;
        box-shadow: -3px 3px 3px 2px rgba(0,0,0,.2);
    }
    
    img.sel, img.list, img.map {
        display: none;
    }

}



Window size: x 
Viewport size: x
