/* Need this for google maps controls to show up correctly */
#map-view img{max-width: inherit;}

.align-right {
  text-align: right;
}

html { 
  height: 100%; 
  width: 100%;
}
body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    font-family: 'Lato', sans-serif; 
    width: 100%; 
}

body.total {
    overflow-x: hidden;

}
article { 
    height: 100%;
}

article.edit {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    -webkit-transition: all 0.45s ease-out;
    -moz-transition: all 0.45s ease-out;
    -ms-transition: all 0.45s ease-out;
    -o-transition: all 0.45s ease-out;
    transition: all 0.45s ease-out;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

div.middle, div.inner {
    height: 100%
}

#map-view { 
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  height: 50px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.2);
  z-index: 1;
  overflow: hidden;
}

body.about {
    
}

header.about {
    position: static;
}

article.about {
    
}

.wrapper.selector-list-active {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 260px;
}

.wrapper.selector-list-active img.sel {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
    background: #fff;
    z-index: 15;
    opacity:1;
    border:1px solid #ccc;
    border-radius:3px
}

div.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;

    width: 120px;
    height: 40px;
    background-size: 100%;
    margin: -10px 0 0 -66px;
}

div.mark {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    background: url('/img/mark.png');
}

div.selector-list {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -270px;
    background: #555;
    color: #fafafa;
    overflow-y: auto;
    width: 270px;
}

.nav-list {padding-left: 25px;margin: 0;}

div.selector-list ul li a {
    color: #fafafa;
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .7);
    text-transform: uppercase;
}

div.selector-list ul li a:hover {
    background:#333;
}

li.filter {
    min-height:20px
}
.nav-list > .active > a, .nav-list > .active > a:hover {
background-color: rgb(30, 128, 16);
}
div.selector-list ul li img {
    max-width:25px;
    padding: 10px 20px 10px 0;
}

img.sel { 
    position: absolute;
    left: 5px;
    top: 50%;
    margin: -18px 0 0 0;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

    padding: 10px;
    width: 16px;

}

img.sel {
    display: inline-block;
}

img.list {
  position: absolute;
  right: 14px;
  top: 50%;
  margin: -5px 0 0 0;
  width: 25px;
}

img.map {
  position: absolute;
  right: 14px;
  top: 50%;
  margin: -5px 0 0 0;
  width: 25px;
  display: none;
}

div.neigh-list {
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 0px;
  background: #efefef;
  color: white;
  width: 0px;
  padding: 0;
  bottom: 0;
  z-index: 0;
  overflow: auto;
  margin: 0;
}

.wrapper.neigh-list-active div.neigh-list {
    width: 100%;
    padding: 0;
    top: 50px;
    text-transform: uppercase;
    font-size: 20px;
}

.wrapper.neigh-list-active .sel {
  opacity: .5;
}

.wrapper.neigh-list-active .map {
    display: block;
}

.accordion-heading {
    padding:10px;
    border-bottom:1px solid #aaa;
    
}
.accordion-heading a {
     color:#333;
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: .1em;
     font-size: 20px;
}
a:hover {text-decoration:none;}

li.park {
  list-style:none;
  padding: 0 0 2px;
  font-size:20px
}
li.park a {
     color:#666;
     text-transform:initial;
}


.wrapper.neigh-list-active .list {
  display: none;
  /*right: 50%;*/
}

ul.parks > li.park {
  margin: 17px 0px;
}

div.park-view {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.park-view header {
  height: 40%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

div.park-view header img {
  min-width: 100%;
  min-height: 100%;
}

div.park-view header span.name {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    text-align: right;
    padding: 20px 10px 10px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;  
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
    text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;  

}

div.park-view div#park-view-wrapper {
    overflow: auto;
    position:absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

div.park-view div.body {
}

div.park-view button.close {
    font-size: 45px;
    position: absolute;
    top: 15px;
    left: 20px;
    color: #fff;
    opacity: 1;
    height: 50px;
    padding: 7px 8px 23px 9px;

    z-index: 1000;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    background: rgba(0,0,0,.5);
    border: 3px solid rgba(255,255,255,1);
    border-radius: 33px;
}

div.park-view div.body .address, div.park-view div.body .name {
  color: black;
  font-size: 20px;
  width: 100%;
  display: block;
  min-width: 400px;
}

div.park-view a.location-block {
    height: 58px;
    display: block;
}

div.park-view div.body .city {
  font-size: 18px;
  padding: 5px 0 0;
}

/* This is needed because scolling does not go all the way down */
div.park-view div.twitter {
    padding: 0 0 50px 0;
}

div.selector-list .selected {
  border: 1px solid white;
}



.attributes {}
.attribute .icon {height: 24px;padding: 7px;margin: 5px 10px 7px 0;background:green;border-radius: 19px;border-width: 1px;}
.map_icon {width:66px;margin: 0 14px 0 0;}
.attribute .txt {font-size:20px;color: #555;}

.tweet_list {background: rgb(223, 243, 223);border-radius: 0;}
.tweet_list .tweet_even {background: rgb(193, 238, 193);}
.tweet_list a {color:#fff;}
.tweet_list .tweet_time {font-size:smaller;font-style:italic;padding-right:20px}
.tweet_list .tweet_time a {color:#888}

/* ----- About Page ----- */

.about .logo {margin: 0;position: absolute;
top: 6px;
left:50%;
height:40px;
margin-left: -100px;
}

article.about {
	padding: 25px;
}


article.about h2 {
	margin:0 0 10px;
	font-family: lato;
	font-weight: 300;
	font-size: 40px;
}

.about p {
	font-family: lato;
	font-size: 14px;
	line-height: 22px;
}

.aboutNolaParks p {
	font-size: 22px;
	line-height: 32px;
	font-style:italic;
	padding-bottom: 16px;
	font-weight: 300;
}
p.contactUs {
	font-size: 18px;
	padding-bottom: 25px;
}
.about .person {
	-moz-box-shadow: 0 1px 7px rgba(58, 58, 58, 0.46);
	-webkit-box-shadow: 0 1px 7px rgba(58, 58, 58, 0.46);
	box-shadow: 0 1px 7px rgba(58, 58, 58, 0.46);
	opacity: 1;
	padding: 15px 25px;
	margin: 0px -25px 15px -25px;
}

.about .person .name {
	font-size: 22px;
	line-height: 28px;
	text-transform:uppercase;
	float: left;
	display: inline-block;
	padding-right: 10px;
}
.about .person .job {
	float: left;
	display: inline-block;
	margin: 5px 0;
	color: #444;
	font-style: italic;
}
.about .person .bio {
	clear:  both;
}

/* For the desktop */
@media all and (min-width: 900px) {
	
	.about {
		width: 100%; ;
		margin
	}
	
	.about .logo {
		top: 13px;	
	}

	.about .person {
		width: 750px;
		margin: 25px auto;
	}
	.aboutNolaParks {
		width: 800px;
		margin: auto ;
	}
}

.selector-list .about {

}


.selector-list .about a {
    display:block;
    padding: 15px 60px 15px 30px;
    background: rgb(109, 109, 109);
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(146, 146, 146); 
    text-shadow: none;
    text-align:right;
    width: 180px;
    margin: 0 -15px;
}
.selector-list .about a:hover {
    background-color:#454545;
} 

/* For the desktop */
@media all and (min-width: 1200px) {
    #map-view { 
        position: absolute;
        top: 60px;
        left: 220px;
        right: 310px;
        bottom: 0;
    }

    div.selector-list {
        top: 60px;
        left: 0px;
        width: 220px;
        min-width: auto;
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,.2);
    }

    div.neigh-list {
        right: 0;
        width: 290px;
        padding: 10px;
        box-shadow: -3px 3px 3px 2px rgba(0,0,0,.2);
    }
    
    img.sel, img.list, img.map {
        display: none;
    }

    div.logo {
        width: 240px;
        height: 50px;
        margin: -12px 0 0 -75px;
        background-size: 60%;
    }

    .wrapper.selector-list-active {
        width: auto;
        position: static;
    }

    .wrapper.neigh-list-active div.neigh-list {
        width: 100%;
        padding: 0;
        top: 50px;
        text-transform: uppercase;
        font-size: 20px;
    }

    header {
        height: 60px;
    }

    .accordion-heading a {
        font-size: 14px;
    }

    li.park {
        font-size: 14px;
    }

.selector-list .about a {
    display:block;
    padding: 15px 30px 15px 0;
    background: rgb(109, 109, 109);
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(146, 146, 146); 
    text-shadow: none;
    text-align:right;
    width: 180px;
    margin: 0 0 0 10px;
}

}